@import url("style/header.css")
:root {
    --cor-de-fundo:rgb(146, 10, 10);
    }
    body {
        background

        ;
        font-size: 30px;
    }
    h1 {
        background-color: rgb(250, 237, 235);
        }

